:root {
  --main-navbar-bg-color: #f6a6c1;
  --main-text-color: #502a20;
  --secondary-text-color: #74381a;
  --main-bg-color: #fef7ed;
  --main-bg-card-color: #fae88c;
  --secondary-bg-color: #d4eeef;
  --thrid-bg-color: #cba9db;
  --main-btn-login: #fae98d;
  --main-btn-hover-login-guest: #f1aba3;
  --main-btn-hover-login: #e6ce62;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-size: 16px;
}

.navbar-bgcolor {
  background-color: var(--main-navbar-bg-color);
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.text-admin {
  color: var(--main-text-color)
}

.text-info-select {
  color: #532d1f;
}

.container {
  max-width: 700px;
}

.card {
  background-color: var(--main-bg-card-color);
}

.card-secondary {
  background-color: var(--secondary-bg-color);
}

.font-primary-text {
  color: var(--main-text-color);
}

.font-secondary-text {
  color: var(--secondary-text-color);
}

.container-admin {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.container-main {
  margin: auto;
  max-width: 800px;
}

.form-side {
  margin: 0 auto 10px;
  padding: 8px;
  width: 90%;
}

.list-gifts-side {
  margin-left: 4px;
  padding: 8px;
  width: 100%;
}

.list-gifts-side-body {
  margin-top: 16px;
  max-height: 550px;
  overflow-y: auto;
}

.container-login,
.container-login-guest {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-login-guest {
  background-color: var(--main-navbar-bg-color)
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-navbar-bg-color);
  color: var(--main-text-color);
  padding: 20px;
  border: 1px solid var(--main-navbar-bg-color);
  border-radius: 7px;
  box-shadow: 0 0.5rem 1rem var(--main-navbar-bg-color);
}

.form-login-guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-btn-login);
  color: var(--main-text-color);
  padding: 20px;
  border: 1px solid var(--main-btn-login);
  border-radius: 7px;
  box-shadow: 0 0.5rem 1rem var(--main-btn-login);
}

.btn-login {
  background-color: var(--main-btn-login);
  border: 1px solid var(--main-btn-login);
  border-radius: 5px;
  color: var(--main-text-color);
  padding: 0.40rem;
  width: 100%;
}

.btn-login-guest {
  background-color: var(--main-navbar-bg-color);
  border: 1px solid var(--main-navbar-bg-color);
  border-radius: 5px;
  color: var(--main-text-color);
  padding: 0.40rem;
  width: 100%;
}

.btn-login:hover {
  background-color: var(--main-btn-hover-login);
  border: 1px solid var(--main-btn-hover-login);
}

.btn-login-guest:hover {
  background-color: var(--main-btn-hover-login-guest);
  border: 1px solid var(--main-btn-hover-login-guest);
}

.btn-eyes {
  width: 46px;
}

.btn-choose-gift {
  height: 30px;
}

.redirect-login-signup {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 8px;
}

.container-loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.first-spinner {
  color: var(--main-navbar-bg-color);
}

.second-spinner {
  color: var(--main-bg-card-color);
}

.third-spinner {
  color: var(--secondary-bg-color);
}

.fourth-spinner {
  color: var(--thrid-bg-color);
}

.input-email-disabled {
  color: rgba(0,0,0,.5);
}

.strikethrough {
  text-decoration: line-through;
  color: rgba(33, 37, 41, 0.3) !important;
  font-style: italic;
}

.information-gifts {
  align-items: flex-start;
  background-color: var(--main-navbar-bg-color);
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  border-radius: 5px;
  padding: 10px 15px;
}

.information-gifts-item {
  color: var(--main-text-color);
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding-bottom: 5px;
  width: 100%;
}

.ul-navbar-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .container-admin {
    flex-direction: row;
  }

  .form-side {
    border-right: 1px solid #dee2e6;
    width: 40%;
    margin-bottom: 0;
  }

  .list-gifts-side {
    width: 60%;
  }

  .ul-navbar-logout {
    justify-content: flex-end;
  }
}